/* boiler plate */
@font-face {
  font-family: "sf-mono";
  src: url(SFMono-Regular.ttf) format("truetype");
}

body {
  background-color: rgb(5, 5, 38);
  padding: 0px;
  margin: 0px;
}
/* Splash */
.splash {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 38, 1);
  z-index: 200;
  color: aliceblue;
  text-align: center;
}
.splash.hidden {
  position: fixed;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 38, 1);
  z-index: -1;
  color: aliceblue;
  text-align: center;
  transition: all 0.5s;
}

.splash img {
  height: 92.5%;
  width: 100%;
  aspect-ratio: 31/14;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
}
/* title */
.title_panel {
  background: url(Sources/UI/WebsiteBackground.jpg) no-repeat center center;
  background-size: cover;
  height: 950px;
  width: 100%;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  outline: black 3px solid;
}
.title_logo {
  background: url(Sources/Profile/NoahWhiteIcon.svg) no-repeat center center;
  background-size: contain;
  height: 92.5%;
  width: 100%;
  aspect-ratio: 31/14;
}
#title {
  position: absolute;
  font-family: "sf-mono";
  font-weight: bolder;
  font-size: 100px;
  top: 770px;
  width: 100%;
}
/* about me */

.about_me {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: url(Sources/UI/toadstool-background.JPG) no-repeat center center;
  background-size: cover;
  height: 1100px;
  color: aliceblue;
  padding: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0px; 
  margin: 0px;
}

.about_me_info {
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
}

.profile_pic {
  width: 100%;
  height: auto;
  height: 909px;
  background: url(Sources/Profile/ProfileRounded.png) no-repeat center center;
  background-size: contain;
  /* aspect-ratio: 2070/3245; */
}

.abt_me_photos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about_me p {
  margin-top: 30px;
  padding: 15px;
  font-family: "sf-mono";
  text-align: center;
  background-color:  rgba(5, 5, 38, 0.75);
  border-radius: 15px;
  font-size: 20px;
}

.image_gallery {
  width: 70%;
  flex-direction: row;
}

.image_gallery img {
  /* width: 65%; */
  max-width: 70%;
  max-height: 60%;
  margin-top: -50px;
  border-radius: 25px;
}
.image_gallery video {
  max-width: 70%;
  max-height: 60%;
  margin-top: -50px;
  border-radius: 25px;
}

.left_gallery {
  float: left;
}
.right_gallery {
  float: right;
}
#gallery_starter {
  margin-top: 0px;
}
/* lab */
.lab_panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  background: url(Sources/UI/oligo.jpg) no-repeat center center;
  background-size: cover;
  height: 1500px;
  padding: 15px;
  width: 100%;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  outline: black 3px solid;
}

h1 {
  margin-top: 0px;
  font-family: "sf-mono";
  font-weight: bolder;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.lab_panel h1 {
  /* position: absolute; */
  /* top: 10px; */
}

.research_item {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 0px;
  border-radius: 15px;
  border: 3px white solid;
  margin-bottom: 50px;
}

.description {
  display: flex;
  margin: 0px;
  width: 80%;
  height: 100%;
  background-color:  rgba(5, 5, 38, 0.75);
  align-items: center;
  justify-content: center;
}

.research_item p {
  margin-top: 0px;
  padding: 15px;
  font-family: "sf-mono";
  font-size: 20px;
}

.research_item img, .research_item video {
  margin: 0px;
  padding: 0px;
  width: 20%;
  height: 100%;
  object-fit: fill;
  background-color:  rgba(5, 38, 38, 1.0);
}

#left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.coding_background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(Sources/UI/coding_background.png) repeat-y ;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  outline: black 3px solid;  
}

.featureContainer {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.featureItem {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  border: 3px white solid;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(5, 5, 38, 0.75);
  padding: 15px;
  border-radius: 15px;
}

.project_description {
  width: 100%;
  justify-content: space-between;
}

.project p {
  margin-top: 0px;
  padding: 15px;
  font-family: "sf-mono";
  font-size: 20px;
}

h2 {
  margin-top: 0px;
  font-family: "sf-mono";
  font-weight: bolder;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.flat_gallery {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
} 

 .filler_asset img {
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 25px;
}

.filler_asset video {
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 25px;
}

.stand_alone {
  max-width: 80%;
  max-height: 500px;
  border-radius: 15px;
}

.contact_me_panel {
  margin-left: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(Sources/UI/pipeorganbackground.JPG) no-repeat center center;
  background-size: cover;
  height: 1200px;
  width: 100%;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.contact_item {
  width: 33.33%;
  height: 100%;
}
.contact_item:hover {
  background-color: rgba(5, 5, 38, 0.75);
}

.contact_info {
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px;
  padding-top: 45%;
}

a {
  width: 100%;
  height: 100%;
  margin: 0px;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding-top: 50px;
}

a:hover {
  border-bottom: 1px white;
  background-color: rgba(5, 5, 38, 0.75);
}

.contact_image img {
  position: relative;
  left: 25%;
  top: 0px;
  width: 40%;
  height: 40%;
  max-height: 256px;
  margin-bottom: 15px;
}
.contact_info h2 {
  height: 10%;
}
#fishy {
  border-radius: 25px;
}
.contact_info p {
  font-family: "sf-mono";
  font-size: 15px;
  background-color: rgba(5, 5, 38, 0.75);
  border-radius: 15px;
  width: 90%;
  padding: 15px;
  text-align: center;
}